name: Check Opensearch
on:
  push:
  pull_request:
  workflow_dispatch:
concurrency:
  group: ${{ github.head_ref || github.sha }}-${{ github.workflow }}
  cancel-in-progress: true
jobs:
  s3test:
    name: ${{ matrix.label }} ${{ matrix.test }}
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        include:
          - label: "AlmaLinux 10 x86_64"
            test-incus-image: "images:almalinux/10"
            test: "opensearch.sh"
    steps:
      - uses: actions/checkout@v4
      - name: Install Incus
        run: |
          sudo apt-get update
          sudo apt-get install -y -V incus
      - name: Allow egress network traffic flows for Incus
        # https://linuxcontainers.org/incus/docs/main/howto/network_bridge_firewalld/#prevent-connectivity-issues-with-incus-and-docker
        run: |
          sudo iptables -I DOCKER-USER -i incusbr0 -j ACCEPT
          sudo iptables -I DOCKER-USER -o incusbr0 -m conntrack --ctstate RELATED,ESTABLISHED -j ACCEPT
      - name: Setup Incus
        run: |
          sudo incus admin init --auto
      - name: Setup Opensearch on host
        run: |
          docker run -d -p 9200:9200 -p 9600:9600 -e "discovery.type=single-node" -e OPENSEARCH_INITIAL_ADMIN_PASSWORD=Passvv0rd@ opensearchproject/opensearch:2
      - name: Ensure Opensearch availability from host
        run: |
          until curl --silent --insecure --user "admin:Passvv0rd@" https://localhost:9200/_cluster/health | jq .status | grep -E "(yellow|green)"; do
            sleep 5
          done
          curl --silent --insecure --user "https://localhost:9200/_cat/indices?v"
      - name: Run Test ${{matrix.test}} on ${{ matrix.test-incus-image }}
        run: ./test.sh ${{ matrix.test-incus-image }} ${{ matrix.test }}
